<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <!--TRABALHO FEITO POR RODRIGO CAMPBELL-->

  <h1>Cadastro de produtos</h1>
  <h5>TRABALHO FEITO POR RODRIGO CAMPBELL</h5>

  <form #fc="ngForm">
    <ion-list>
      <ion-item class="pt-10">
        <ion-input label-placement="floating" required fill="outline" label="Nome do produto" name="nome" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"
          [(ngModel)]="produto.nome"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="pt-10">
        <ion-input type="string" label-placement="floating" required fill="outline" label="Categoria do produto" name="categoria"
          pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" [(ngModel)]="produto.categoria"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="pt-10">
        <ion-input label-placement="floating" required fill="outline" label="Descrição do produto" name="descricao" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"
          [(ngModel)]="produto.descricao"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="pt-10">
        <ion-input label-placement="floating" required fill="outline" label="Quantidade" type="number" name="quant" pattern="^[1-9][0-9]{0,3}$"
          [(ngModel)]="produto.quant"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item class="pt-10">
          <ion-input label-placement="floating" required fill="outline" label="valor do produto" name="valor" pattern="^[1-9][0-9]{0,3}$"
            [(ngModel)]="produto.valor"></ion-input>
        </ion-item>
      </ion-list>
      <ion-item class="pt-10">
        <ion-button [disabled]="fc.invalid" size="small" (click)="salvarProduto()">Cadastrar</ion-button>
        <ion-button color="danger">Cancelar</ion-button>
      </ion-item>
    </ion-list>